body {
font-family: Arial;
margin: 0;
background: #e8f0ff; /* Azul claro */
}


header {
background: #1e3a8a; /* Azul escuro elegante */
color: white;
padding: 15px;
text-align: center;
}

/* MENU */
nav {
display: flex;
overflow-x: auto;
background: #274bb5; /* Azul médio */
}
nav a {
padding: 12px 20px;
color: white;
text-decoration: none;
white-space: nowrap;
}
nav a:hover { background:#3b5fe0; }


/* PRODUTO */
#listaProdutos { padding:10px; }
.produto {
background:white;
padding:15px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}


.carousel { position:relative; height:200px; overflow:hidden; border-radius:10px; }
.carousel img {
z-index: 1;
width:100%; height:200px; object-fit:cover;
position:absolute; left:100%; transition: left 0.45s ease-in-out;
}
.carousel img.active { left:0; }


.btn-esq, .btn-dir {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.45);
color: white;
border: none;
padding: 8px;
cursor: pointer;
font-size: 20px;
border-radius: 5px;
z-index: 10;
}
.btn-esq { left:5px; }
.btn-dir { right:5px; }


button.cart {
background:#28a745; color:white; width:100%; padding:10px;
border:none; border-radius:5px; margin-top:10px; font-size:16px;
}


/* PAGINAÇÃO */
#paginacao { text-align:center; padding:20px; }
#paginacao button { padding:10px 15px; margin:5px; border:none; background:#333; color:white; }


/* CARRINHO */
#abrirCarrinho {
position:fixed; right:20px; bottom:20px;
background:#ff9800; color:white;
border:none; padding:15px; border-radius:50%; font-size:22px;
}


#carrinhoModal {
z-index: 20;
display:none; position:fixed; top:0; left:0;
width:100%; height:100%; background:rgba(0,0,0,0.6);
justify-content:center; align-items:center;
}
#carrinhoBox {
z-index: 19;
background:white; padding:20px; width:90%; max-width:400px;
border-radius:10px;
}
#listaCarrinho li { padding:5px 0; }
#enviarZap {
width:100%; background:#25d366; padding:10px; border:none; margin-top:10px;
color:white; border-radius:5px; font-size:16px;
}